# 기본적으로 제외해야 할 폴더
node_modules
.next
out
dist
build
coverage

# 환경설정, 시스템 파일
package-lock.json
pnpm-lock.yaml
yarn.lock

# 이미지, 폰트, 기타 리소스
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot

# 기타
public
